
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #eeeeee;
    /* overflow-x: hidden; */
}


.logo{
    width: 70px;
    display: flex;
    justify-content: flex-end;
    width: 28rem;
    padding-left: 3.5rem;
    padding-top: 1rem;
}

.navbar{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    margin-top: -2rem;
    margin-left: 55rem;
    gap: 8rem;
    font-size: large;
    
}

header{
    margin-top: -3rem;
    width: 100vw;
    height: 10vh;
    position: fixed;
    background-color: #eeeeee;
}

nav a{
    text-decoration: none;
    color: black;
}



.intro{
    margin-top: 3rem;
    padding-top: 4rem;
    display: block;
    text-align: center;
}

#email{
    width: 22rem;
    height: 2rem;
    margin-top: 1.5rem;
}

form{
    display: block;
    text-align: center;
}

.submit{
    height: 2.5rem;
    margin-top: 1.4rem;
    width: 13rem;
    color: black;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bolder;
    background-color: #f1c40f;
    border: none;
}

#info{
    display: flex;
    margin: 0 18rem;
    width: 65%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 25%;
}

.words{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80%;
    padding: 5px;
}

#frame{
    width: 100%;
    height: 70%;
    background-color: #eeeeee; 
}

iframe{
    width: 50rem;
    height: 25rem;
    margin-top: 4rem;
    margin-left: 30rem;
}

#pricing{
     height: 60%;
     display: flex;
     padding-left: 16rem;
     gap: 2rem;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 26%;
    height: 65%;
    margin-top: 7rem;
    
}

.product div{
    width: 100%;
    height: 3rem;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    font-size: larger;
    font-weight: 500;
    align-items: center;
    padding-top: 1rem;
}

.product h2{
    margin-top: 1rem;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.product p{
    margin-top: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

button{
    width: 8rem;
    height: 3rem;
    font-weight: 400;
    background-color: #f1c40f;
    margin-top: 2rem;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: orange;
}

footer{
    width: 75%;
    height: 12%;
    background-color: #dddddd;
    margin-left: 13rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0.5rem;
}

.footer{
    display: flex;
    text-align: right;
    justify-content: flex-end;
    gap: 2.8rem;
}

@media (max-width:640px){
    :root{
        font-size: 10px;
    }

    .wrapper{
        width: 30rem;
    }

    .logo{
        width: 12rem;
        padding-left: 1rem;
        padding-top: 0.5rem;
    }

    .navbar{
        font-size: 0.5rem;
        gap: 2rem;
        margin-left: 19rem;
        width: 12rem;
    }
    
    header{
        height: 2rem;
    }
}    